<% if @triangle.triangle?() %>
  <h5>It is a triangle!</h5>

  <% if @triangle.equilateral?() %>
    <h5>And it's totally an equilateral</h5>

  <% elsif @triangle.scalene?() %>
    <h5>And it's totally a scalene</h5>

  <% else @triangle.isosceles?() %>
    <h5>And it's totally an isosceles</h5>

  <% end %>

<% else %>
  <h5>This is not a triangle.</h5>

<% end %>
